In [1]:
import pandas as pd
import numpy as np

In [ ]:
counts_sex_age_state = pd.read_csv('cdc_death_counts_by_sex_age_state.csv')
counts_sex_age_state.head()

In [2]:
from sklearn.preprocessing import OneHotEncoder
def onehotencoder(data, column_name): 
    """
    One hot encodes a categorical feature. 
    Input:
      dataframe
      column_name with column_name to be one-hot-encoded 
    Output:
      A dataframe, with the one hot encoded features as columns.
    """
    column_data = data[[column_name]]
    ohe = OneHotEncoder()
    enc = ohe.fit_transform(column_data)
    enc_array = enc.toarray()
    one_hot_encoded_df = pd.DataFrame(data=enc_array, columns=ohe.get_feature_names_out\
                                      (input_features=[column_name]), index=data.index)
    data = data.drop(columns=[column_name])
    data = pd.concat([data, one_hot_encoded_df], axis=1)

    return data

jan - winter
feb - winter
march - spring
april- spring
may - spring
june - summer
july- summer
aug -summer
sept -fall
oct -fall
nov - fall
dec - winter

radomly pick 3 csvs from each month and group by season

In [3]:
import os
import random
import pandas as pd

# Define the seasons
months = {
    '01': 'Jan', '02': 'Feb', '03': 'Mar', '04': 'Apr',
    '05': 'May', '06': 'Jun', '07': 'Jul', '08': 'Aug',
    '09': 'Sep', '10': 'Oct', '11': 'Nov', '12': 'Dec'
}

# Set the directory path where the CSVs are stored
directory = './datasets/csse_covid_19_daily_reports_us'

selected_csvs_by_month = {month: [] for month in months.keys()}

# List all files in the directory
files = os.listdir(directory)

# Iterate through files and group them by month
for file in files:
    for month in months.keys():
        if month in file.lower() and file.endswith('.csv'):
            selected_csvs_by_month[month].append(file)

# Load the selected CSVs into dataframes
dataframes_by_month = {month: [] for month in months.values()}

for month, csvs in selected_csvs_by_month.items():
    for csv in csvs:
        # Construct the file path
        file_path = os.path.join(directory, csv)

        # Load CSV into a dataframe
        df = pd.read_csv(file_path)

        # Append dataframe to the corresponding month
        dataframes_by_month[months[month]].append(df)

# Debugging statement
print(f'Number of dataframes for Jul: {len(dataframes_by_month["Jul"])}')

# if len(dataframes_by_month['Oct']) > 0:
#     dataframes_by_month['Oct'][0]
# else:
#     print("No dataframes available for 'fall' season.")

# dataframes_by_month['Jun'][10]
drop_states = ['American Samoa', 'Diamond Princess', 'Northern Mariana Islands'\
               , 'Puerto Rico', 'Virgin Islands', 'Grand Princess']
for month, dataframes in dataframes_by_month.items():
    modified_dataframes = []
    for df in dataframes:
        modified_df = df[~df['Province_State'].isin(drop_states)]
        modified_dataframes.append(modified_df)
    dataframes_by_month[month] = modified_dataframes
# dataframes_by_month['Oct'][11]

Number of dataframes for Jul: 83

In [4]:
data = {month: [df.drop(columns=['Last_Update', 'Country_Region', 'UID', 'ISO3', 'Lat', 'Long_',\
                                 'Recovered', 'Active', 'People_Hospitalized',\
                                   'FIPS', 'Hospitalization_Rate'])\
                for df in dataframes] for month, dataframes in dataframes_by_month.items()}


data = {month: [df.assign(Month=month) for df in dataframes] 
        for month, dataframes in data.items()}

data['Oct'][1]

,Province_State,Confirmed,Deaths,Incident_Rate,Total_Test_Results,Case_Fatality_Ratio,Testing_Rate,Month
0,Alabama,798320,14393,16281.661818,5758681.0,1.802911,117447.760996,Oct
1,Alaska,115703,578,15816.251905,3058523.0,0.499555,418090.889829,Oct
3,Arizona,1097225,20039,15074.428639,12756086.0,1.826335,175251.847269,Oct
4,Arkansas,496934,7718,16466.742042,3910410.0,1.553124,129577.997776,Oct
5,California,4746059,68841,12012.454981,92523189.0,1.450408,234163.461266,Oct
6,Colorado,673517,7594,11695.570000,11132130.0,1.127514,193308.566324,Oct
7,Connecticut,391066,8650,10968.710233,10027621.0,2.211903,281257.048872,Oct
8,Delaware,133599,1954,13719.854092,2213944.0,1.462586,227359.401251,Oct
10,District of Columbia,61331,1176,8690.200057,2044594.0,1.917464,289705.546873,Oct
11,Florida,3620106,55299,16855.155643,39774998.0,1.527552,185191.754606,Oct
12,Georgia,1582063,26242,14900.630784,11574646.0,1.658720,109015.586927,Oct
14,Guam,15168,198,9235.884040,228236.0,1.305380,138974.237193,Oct
15,Hawaii,79572,789,5619.999548,2369767.0,0.991555,167371.556186,Oct
16,Idaho,259100,2931,14498.633234,960225.0,1.131223,53731.957148,Oct
17,Illinois,1630864,27450,12870.005029,31878109.0,1.683157,251566.913706,Oct
18,Indiana,967682,15686,14373.893660,13552997.0,1.620987,201315.450374,Oct
19,Iowa,452057,6563,14327.954689,1661111.0,1.451808,52648.942813,Oct
20,Kansas,412162,6072,14147.530956,1744845.0,1.473207,59892.102259,Oct
21,Kentucky,695474,8804,15566.806255,6884380.0,1.265899,154093.193481,Oct
22,Louisiana,741906,13988,15959.106814,9184576.0,1.885414,197569.003918,Oct
23,Maine,90727,1024,6749.456187,2752987.0,1.128661,204803.037021,Oct
24,Maryland,533870,10460,8830.603009,12998160.0,1.959278,214999.139882,Oct
25,Massachusetts,813599,18647,11804.115283,28663186.0,2.291915,415860.334047,Oct
26,Michigan,1159419,22439,11609.448298,16253280.0,1.935366,162746.697985,Oct
27,Minnesota,714790,8273,12674.408543,11205578.0,1.157403,198693.425387,Oct
28,Mississippi,489216,9646,16437.886678,2459877.0,1.971726,82653.019052,Oct
29,Missouri,827390,11999,13481.054279,7061489.0,1.450223,115056.160333,Oct
30,Montana,152005,2017,14222.317450,1844022.0,1.326930,172535.549946,Oct
31,Nebraska,267079,2840,13806.756382,3686498.0,1.063356,190574.997622,Oct
32,Nevada,422329,7166,13711.286052,4377863.0,1.696781,142131.210237,Oct
33,New Hampshire,120763,1481,8881.519676,2476828.0,1.226369,182158.414545,Oct
34,New Jersey,1156243,27443,13017.544097,15688181.0,2.373463,176625.145375,Oct
35,New Mexico,253815,4812,12104.706679,4554145.0,1.895869,217192.007550,Oct
36,New York,2432444,55416,12503.849552,70281672.0,2.278202,361279.212582,Oct
37,North Carolina,1400217,16605,13350.550968,15722601.0,1.185888,149909.182650,Oct
38,North Dakota,132808,1645,17427.453409,1767583.0,1.238630,231947.400605,Oct
40,Ohio,1420206,23696,12149.831895,16193454.0,1.668350,138534.651941,Oct
41,Oklahoma,615217,8949,15547.675229,4564640.0,1.454609,115356.923263,Oct
42,Oregon,331709,3815,7864.620293,6959207.0,1.150104,164998.599960,Oct
43,Pennsylvania,1449092,29437,11319.272341,17298301.0,2.031410,135121.979874,Oct
45,Rhode Island,172719,2838,16304.073871,5306441.0,1.643131,500909.604941,Oct
46,South Carolina,860369,12570,16710.366899,8840178.0,1.461001,171696.815943,Oct
47,South Dakota,145474,2145,16444.076192,953099.0,1.474490,107736.314218,Oct
48,Tennessee,1234210,15230,18073.239897,9899381.0,1.234107,144957.223231,Oct
49,Texas,4105155,65529,14157.717781,32962976.0,1.596261,113681.581187,Oct
50,Utah,510209,2943,15914.400625,4220856.0,0.576822,131656.621827,Oct
51,Vermont,33852,318,5425.095635,2087016.0,0.939383,334463.588300,Oct
53,Virginia,869328,12806,10184.828831,9301357.0,1.473092,108972.365945,Oct
54,Washington,660910,7765,8679.176451,9842443.0,1.174895,129252.544980,Oct
55,West Virginia,242104,3722,13509.159684,3918680.0,1.537356,218658.402464,Oct
56,Wisconsin,814187,8901,13983.619222,10744237.0,1.093238,184531.709591,Oct
57,Wyoming,91169,996,15752.498017,988165.0,1.092477,170738.597586,Oct

In [7]:
concats = [pd.concat(df, axis=0) for df in data.values()]

all_data = pd.concat(concats, axis=0)

In [8]:
all_data = onehotencoder(all_data, 'Month')
all_data = onehotencoder(all_data, 'Province_State')
all_data.columns.values

array(['Confirmed', 'Deaths', 'Incident_Rate', 'Total_Test_Results',
       'Case_Fatality_Ratio', 'Testing_Rate', 'People_Tested',
       'Mortality_Rate', 'Month_Apr', 'Month_Aug', 'Month_Dec',
       'Month_Feb', 'Month_Jan', 'Month_Jul', 'Month_Jun', 'Month_Mar',
       'Month_May', 'Month_Nov', 'Month_Oct', 'Month_Sep',
       'Province_State_Alabama', 'Province_State_Alaska',
       'Province_State_Arizona', 'Province_State_Arkansas',
       'Province_State_California', 'Province_State_Colorado',
       'Province_State_Connecticut', 'Province_State_Delaware',
       'Province_State_District of Columbia', 'Province_State_Florida',
       'Province_State_Georgia', 'Province_State_Guam',
       'Province_State_Hawaii', 'Province_State_Idaho',
       'Province_State_Illinois', 'Province_State_Indiana',
       'Province_State_Iowa', 'Province_State_Kansas',
       'Province_State_Kentucky', 'Province_State_Louisiana',
       'Province_State_Maine', 'Province_State_Maryland',
       'Province_State_Massachusetts', 'Province_State_Michigan',
       'Province_State_Minnesota', 'Province_State_Mississippi',
       'Province_State_Missouri', 'Province_State_Montana',
       'Province_State_Nebraska', 'Province_State_Nevada',
       'Province_State_New Hampshire', 'Province_State_New Jersey',
       'Province_State_New Mexico', 'Province_State_New York',
       'Province_State_North Carolina', 'Province_State_North Dakota',
       'Province_State_Ohio', 'Province_State_Oklahoma',
       'Province_State_Oregon', 'Province_State_Pennsylvania',
       'Province_State_Recovered', 'Province_State_Rhode Island',
       'Province_State_South Carolina', 'Province_State_South Dakota',
       'Province_State_Tennessee', 'Province_State_Texas',
       'Province_State_Utah', 'Province_State_Vermont',
       'Province_State_Virginia', 'Province_State_Washington',
       'Province_State_West Virginia', 'Province_State_Wisconsin',
       'Province_State_Wyoming'], dtype=object)

In [49]:
print(all_data.dtypes)
all_data = all_data.astype(float)
nan_check = all_data.isna().any()

# Display columns with NaN values
columns_with_nan = nan_check[nan_check].index
print("Columns with NaN values:", columns_with_nan)
print(all_data.isna().sum())

Confirmed                       float64
Deaths                          float64
Incident_Rate                   float64
Total_Test_Results              float64
Case_Fatality_Ratio             float64
                                 ...
Province_State_Virginia         float64
Province_State_Washington       float64
Province_State_West Virginia    float64
Province_State_Wisconsin        float64
Province_State_Wyoming          float64
Length: 73, dtype: object
Columns with NaN values: Index(['Incident_Rate', 'Total_Test_Results', 'Case_Fatality_Ratio',
       'Testing_Rate', 'People_Tested', 'Mortality_Rate'],
      dtype='object')
Confirmed                           0
Deaths                              0
Incident_Rate                      37
Total_Test_Results              25851
Case_Fatality_Ratio             25517
                                ...
Province_State_Virginia             0
Province_State_Washington           0
Province_State_West Virginia        0
Province_State_Wisconsin            0
Province_State_Wyoming              0
Length: 73, dtype: int64

In [72]:

# special_representations = ['NA', 'N/A', 'null']
# all_data.replace(special_representations, pd.NA, inplace=True)

# print(X['Deaths'].dtype)
import copy
X = copy.deepcopy(all_data).astype(float)

# X.dropna(subset=[col for col in X.columns if np.nan in X[col].values], inplace=True)
X = X.dropna(axis=1)
X
print(X.isna().sum())
target = X['Deaths']

# X_vals.drop(columns=['Deaths'], inplace=True)
X.shape

Confirmed                       0
Deaths                          0
Month_Apr                       0
Month_Aug                       0
Month_Dec                       0
                               ..
Province_State_Virginia         0
Province_State_Washington       0
Province_State_West Virginia    0
Province_State_Wisconsin        0
Province_State_Wyoming          0
Length: 67, dtype: int64

(83705, 67)

In [73]:
from sklearn.linear_model import LinearRegression
model = LinearRegression(fit_intercept=True)

In [74]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, target, test_size=0.2, random_state=42)

In [82]:
model.fit(X_train, y_train)

LinearRegression()

In [83]:
y_pred = model.predict(X_test)
y_pred

array([12514.,  7134.,  2038., ...,  3754.,  4084.,  9556.])

In [79]:
def rmse(predicted, actual):
    """
    Calculates RMSE from actual and predicted values.
    Input:
      predicted (1D array): Vector of predicted/fitted values
      actual (1D array): Vector of actual values
    Output:
      A float, the RMSE value.
    """
    return np.sqrt(np.mean((actual - predicted)**2))

In [92]:
from sklearn.model_selection import KFold, cross_val_score
from sklearn.linear_model import LinearRegression
model = LinearRegression(fit_intercept=True)
kf = KFold(n_splits=5, shuffle=True, random_state=42)  # Adjust the number of splits as needed

# List to store RMSE values for each fold
rmse_scores = []
fold = 0 
for train_index, test_index in kf.split(X):
    fold+=1
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = target.iloc[train_index], target.iloc[test_index]

    model.fit(X_train, y_train)

    predictions = model.predict(X_test)

    rmse_value = rmse(predictions, y_test)
    rmse_scores.append(rmse_value)
    print(f"Fold {fold} rmse: {rmse_value}")

average_rmse = np.mean(rmse_scores)
average_rmse

Fold 1 rmse: 1.7715756211162936e-11
Fold 2 rmse: 1.1349546068266364e-11
Fold 3 rmse: 2.3664979010096076e-11
Fold 4 rmse: 1.8516426541612768e-11
Fold 5 rmse: 1.9211853940532443e-11

1.8091712354334113e-11

In [86]:
rmse_err = rmse(y_pred, y_test)
rmse_err

1.4980689039553958e-11

In [87]:
# model_1 = LinearRegression(fit_intercept=True)